<div class="container p-5">
  <h5 class="text-center">お問い合わせありがとうございました。</h5>
  <h2 class="text-center">回答までしばらくお待ちください。<h2>
  <div class="text-center pt-8 ">
    <%= link_to "TOPページに戻る", top_path, class: "text-2xl pr-4 hover:underline hover:text-light-red transition duration-300" %>
  </div>
</div>