<div class="container-fluid light-blue-container p-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div>
        ・アルディアスの魔法書に関する不具合、ご意見・ご要望等がございましたら、下記ご記入ください。
      </div>
      <div id="contact_form">
        <%= render 'form', contact: @contact %>
      </div>
    </div>
  </div>
</div>