<p><%= @user.name %>様</p>

<p>パスワードの再設定を希望するとのこと、了解した。以下の秘められたリンクを用いて、再び呪文（パスワード）を設定するがよい：</p>
<%= link_to '秘密の暗号の再発行', @url %>

<p>このリンクは限定された時間のみ有効であり、その期限を過ぎると再びリセットを要求せねばならぬ。速やかに対応せよ。</p>
<br>
<p>万が一、ワシがこの要求を受け取った覚えがない場合は、または他の問題があれば、すぐに連絡をよこすがよい。</p>
<p>ワシの力で、貴殿の安全を守らん。</p>
<p>老魔術師アルディアスより</p>
