<div class="mx-24 font-serif border border-black p-5 text-black">
  <div class="chatgpt-response">
    <p><%= @chatgpt_response %></p>
  </div>

  <%= link_to '日記詳細を見る', @diary %> |
  <%= link_to '戻る', diaries_path %>
</div>