
<div class="chatgpt-response">
  <% if @diary.chatgpt_response %>
    <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
      <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= @diary.chatgpt_response %></dd>
    </div>
  <% else %>
    <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
      <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">ううむ...。すまぬが投写魔法が失敗したようじゃ。</dd>
    </div>
  <% end %>
</div>

<%= link_to '日記詳細を見る', @diary %> |
<%= link_to '戻る', diaries_path %>
