<article class="font-serif p-5 text-black animate-fade-in-up">
  <h2 class="text-5xl font-bold mb-5">The old wizard Aldias sealed in a book.</h2>
  
  <div class="flex flex-col md:flex-row items-start">
    <div class="md:w-1/3 pr-4">
      <p class="text-lg leading-relaxed">
        "知識とは経験である。"
        <p class="text-right">--アルディアス</p>
        <br>この言葉は、200年前とある魔法学校の教授であったアルディアスが提唱した言葉である。
        <br>彼が求めたのはこの世の全ての知識であった。
        しかし彼はあまりにも知識を獲すぎたために、悪の魔法使いたちに命を狙われることになる。
        そこで彼は、自身の精神・知識を複数の本の中に封印し誰にも見つからないところにそれらをばらばらに隠したのであった。
        この本はそのアルディアスの魔法書の1つである。
        貴殿には、この本を使用しアルディアスにさらなる知識を提供していただきたい。
        なに、難しいことはない。ただ日々の日記をつければいいだけである。
        アルディアスは貴殿の経験から知識を獲ながら、さらなる進化を遂げるであろう。
        この魔法書を手に取り、さらなる魔法の発展に協力してくれることを切に願う。

        <br>敬具
        <br>魔法書管理局
      </p>
      <div class="mx-20 justify-center" data-controller="animation">
        <div class="space-x-4 mt-6 border-x-2 border-black text-center">
          <%= link_to "魔法の書を開く", new_session_path, id: "ontoucharea", class: "area text-3xl font-bold" %>
        
          <div class ="text-center">
            <h1>★
            <span
              class="txt-rotate"
              data-target="animation.rotate"
              data-period="2000"
              data-rotate='[ "ログイン" ]'></span>
            </h1>
            </div>
        </div>
        <div class="space-x-4 mt-6 border-x-2 border-black text-center">
          <%= link_to "本を手にとる", new_user_path, id: "ontoucharea", class: "area text-3xl font-bold" %>
          <div class ="text-center">
            <h1>★
            <span
              class="txt-rotate"
              data-target="animation.rotate"
              data-period="2000"
              data-rotate='[ "新規登録" ]'></span>
        
          </div>
        </div>
        <%= link_to 'Login with Line', auth_at_provider_path(provider: :line) %>
      </div>
    </div>
    <div class="md:w-2/3 mt-4 md:mt-0 flex justify-center">
      <%= image_tag "top_book.png", alt: "魔法書", class: "w-1/2 h-auto rounded-lg shadow-md" %>
    </div>
  </div>

  <div class="border border-black p-3 my-5">
    <h3 class="text-2xl mb-2">注意事項</h3>
    <p class="text-base">
      この本は強力な魔法が封印されているため、取り扱いには十分ご注意ください。不適切な使用は、魔法界の秩序を乱す可能性があります。ご不明な点がございましたら、いつでも魔法書管理局までお問い合わせください。
    </p>
  </div>
</article>

<style>
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in-up {
    animation: fadeInUp 0.5s ease-out forwards;
    opacity: 0;
  }
</style>