<footer class="relative h-40 bg-footer-bg bg-center bg-cover text-black">
  <p>The Daily Prophet - 魔法界公認 - 1巻2ナット</p>

  <div class="border-y border-yellow-900 mx-4 md:mx-8">
    <div class="border-t border-yellow-900 md:mx-0 mt-0.5">
      <nav class="container mx-auto px-4 py-4">
        <ul class="flex flex-wrap justify-center space-x-4 text-lg font-serif">
          <li><%= link_to 'プライバシープリシー'," #" ,class: "relative after:absolute after:bottom-0 after:left-0 after:h-[2px] after:w-full after:origin-bottom-left after:scale-x-100 after:bg-neutral-800 after:transition-transform after:duration-150 after:ease-in-out hover:after:origin-bottom-right hover:after:scale-x-0" %></li>
          <li><%= link_to '利用規約', "#" ,class: "relative after:absolute after:bottom-0 after:left-0 after:h-[2px] after:w-full after:origin-bottom-left after:scale-x-100 after:bg-neutral-800 after:transition-transform after:duration-150 after:ease-in-out hover:after:origin-bottom-right hover:after:scale-x-0" %></li>
          <li><%= link_to '問い合わせ',new_public_contact_path,class: "relative after:absolute after:bottom-0 after:left-0 after:h-[2px] after:w-full after:origin-bottom-left after:scale-x-100 after:bg-neutral-800 after:transition-transform after:duration-150 after:ease-in-out hover:after:origin-bottom-right hover:after:scale-x-0" %></li>
        </ul>
      </nav>
    </div>
  </div>   

</footer>